GATSBY_SANITY_PROJECT_ID="y7yu20xn"
GATSBY_SANITY_DATASET="master"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN=""

